<div class="form-container">
  <h3>თანხის გადარიცხვა;</h3>
  <form [formGroup]="transferForm" (ngSubmit)="transfer()">
    <div class="form-group">
      <label for="source-account">გამგზავნი ანგარიში</label>
      <select id="source-account" formControlName="sourceAccount">
        <option *ngFor="let account of accounts" [value]="account.name">{{account.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="destination-account">მიმღები ანგარიში</label>
      <select id="destination-account" formControlName="targetAccount">
        <option *ngFor="let account of accounts" [value]="account.name">{{account.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="amount">თანხა</label>
      <input type="number" id="amount" placeholder="თანხა" formControlName="amount"/>
    </div>

    <button type="submit" class="submit-button">
      <i class="fa fa-check"></i>
    </button>
  </form>
</div>
